/* 
Generar estilos:
    1. Posicionamiento (widht, height, display, position)
    2. Modelo de caja (margin, padding, border, content)
    3. Tipografia (tam fuente, fuente, tipo de fuentes, etc)
    4. Visuales (shadow box, border radius, etc)
    5. Miselaneos u otros
*/

/* Configuracion global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --eerie-black: #080708;
  --blue-crayola: #3772ff;
  --soft-blue-crayola: #026fff;
  --rose-madder: #df2935;
  --just-white: #ffffff;
  --culture: #fafafa;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
/* ---------- */

/* Creando estilos globales */
a {
  text-decoration: none;
  cursor: pointer;
}
/* ---------- */

/* Creando estilos para el header y derivados */
.header-nav {
  width: 100%;
  min-width: 32rem;
  height: 7rem;
  position: relative;

  background-color: var(--eerie-black);
  color: white;

  /* Agregando sombra al header */
  -webkit-box-shadow: 0rem 1.4rem 1rem -0.6rem #000000;
  box-shadow: 0rem 1.4rem 1rem -0.6rem #000000;
  z-index: 1;
}

.nav-container {
  width: auto;
  height: 100%;

  display: flex;
  justify-content: space-between;
  text-align: center;
}

.logo {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding-right: 0.5rem;
}

.logo img {
  width: 5rem;
  height: 5rem;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-right {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.menu-right .menu-item a {
  margin-right: 2.5rem;
  color: var(--culture);
}
/* ---------- */

/* Creando estilos globales */
main {
  width: 100%;
  background-color: var(--just-white);
}
/* ---------- */

/* Creando la seccion info general */
main .info-section {
  width: 100%;
  min-width: 36rem;
  height: auto;
  padding-bottom: 0.5rem;
  background-color: var(--eerie-black);
  text-align: center;
}

main .info-section h1 {
  margin: 0 auto;
  padding-bottom: 0.5rem;
  font-size: 4rem;
  line-height: 1.4;
  letter-spacing: -0.2rem;
  color: var(--just-white);
}

main .info-section h1 strong {
  color: var(--blue-crayola);
}

main .info-section .img-hero {
  width: 165px;
  height: 165px;
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
    0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
  border-radius: 5%;
}
/* ---------- */

/* Agregando Css a la seccion Más información  */
main .about-section {
  width: 100%;
  height: auto;
  background-color: var(--eerie-black);
}

.about-generalMe {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}
.about-generalMe h2 {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3rem;
  font-weight: bold;
  color: var(--just-white);
}

.about-generalMe .me-container {
  width: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding-top: 1.2rem;
}

.me-picture {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.me-picture img {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
    0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
}

.me-title {
  padding: 0.3rem 0;
  color: var(--just-white);
  font-size: 2rem;
}

.me-datas {
  width: 90%;
  height: auto;
  margin: 0 auto;
  color: var(--just-white);
}

.me-info {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: start;
  color: var(--just-white);
}

.about-socialMedia {
  width: 30rem;
  height: auto;
  margin: 0 auto;
  padding: 0.5rem 0;
}

.social-media {
  display: flex;
  list-style: none;
}

.media-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-right: 2rem;
}

.twitter-icon {
  width: 60px;
  height: 60px;

  background-image: url("../image/twitter.svg");
  background-position: center;
  background-size: contain;
}

.github-icon {
  width: 60px;
  height: 60px;

  background-image: url("../image/github.svg");
  background-position: center;
  background-size: contain;
}

.facebook-icon {
  width: 60px;
  height: 60px;

  background-image: url("../image/facebook.svg");
  background-position: center;
  background-size: contain;
}

/* Creando los estilos para la seccion portafolio */

main .portfolio-section {
  width: 100%;
  min-width: 36rem;
  padding: 0.5rem;
  background-color: var(--culture);
}

main .portfolio-section .container {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

main .portfolio-section .container h2 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: var(--soft-blue-crayola);
}

main .portfolio-project .project-details {
  display: inherit;
}

.project-image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-left: 0.3rem;
}

.project-image img {
  width: 280px;
  height: 220px;
  margin: 0.5rem auto;
  border-radius: 5px;
}

main .portfolio-section .portfolio-project {
  margin-bottom: 1.5rem;
  padding: 1.2rem;
  background: var(--just-white);
  border-radius: 1rem;
  border: 1px solid var(--eerie-black);
}

main .portfolio-project .project-title {
  font-size: 2.4rem;
}

main .project-technology,
.project-date,
.project-live {
  margin: 0.6rem 0;
}

.project-live {
  cursor: pointer;
}

.project-technology {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: bold;
}

.project-date {
  font-size: 1.6rem;
  font-weight: 400;
}

.project-live {
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
}

.project-description {
  font-size: 2rem;
  font-weight: 400;
}

/* Creando la seccion del contacto */

.contact-section {
  width: 100%;
  min-height: 35rem;
  max-height: 50rem;
}

.contact-section h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: var(--soft-blue-crayola);
}

.contact__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.contact__description {
  font-size: 1.8rem;
  padding-bottom: 1rem;
  text-align: center;
}

.contact__container--input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

form {
  width: 80%;
  margin: 2rem 0;
  padding: 2rem;
  background: var(--just-white);
  overflow: hidden;
  box-shadow: 0 0 0.3rem grey;
  border-top: 0.4rem solid var(--soft-blue-crayola);
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea {
  max-width: 100%;
  min-width: 90%;
  height: 4rem;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  border-radius: 0.5rem;
  outline: none;
  color: var(--eerie-black);
}

form textarea {
  max-width: 100%;
  min-width: 90%;
  max-height: 30rem;
  min-height: 15rem;
  border-radius: 0.5rem;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form textarea:focus {
  border: 0.2rem solid #536dfe;
  padding: 1.5rem;
}

.boton,
form input[type="submit"] {
  margin-top: 1rem;
  padding: 1.5rem;
  background: var(--blue-crayola);
  color: #e1e9fa;
  font-size: 1.4rem;
  font-family: "Roboto", Arial, sans-serif, helvetica;
  border-radius: 0.3rem;
  border: none;
  float: right;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background: var(--soft-blue-crayola);
}

.footer {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  background: var(--eerie-black);
  color: var(--just-white);
  font-size: 1.4rem;
}

/* Responsive */

@media (min-width: 800px) {
  .portfolio-project {
    width: 80%;
    margin: 0 auto;
    display: flex;
  }
  .project-details {
    width: 950px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
  }

  .project-image img {
    width: 340px;
    height: 220px;
  }

  .project-image {
    max-width: 380px;
    display: flex;
  }
}
