/* 
Generar estilos:
    1. Posicionamiento (widht, height, padding, margin, etc)
    2. Modelo de caja (box model)
    3. Tipografia (tam fuente, fuente, etc)
    4. Visuales (shadow box, border radius, etc)
    5. Miselaneos u otros
*/

/* Configuracion global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --rich-black: #080708;
  --blue-crayola: #3772ff;
  --rose-madder: #df2935;
  --sunglow: #fdca40;
  --platinum: #e6e8e6;
  --just-white: #ffffff;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
/* ---------- */

/* Creando estilos globales */
a {
  text-decoration: none;
  cursor: pointer;
}
/* ---------- */

/* Creando estilos para el header y derivados */
.header-nav {
  width: 100%;
  min-width: 32rem;
  height: 7rem;

  background-color: var(--rose-madder);
  color: white;

  /* Agregando sombra al header */
  -webkit-box-shadow: 0rem 1.4rem 1rem -0.6rem #000000;
  box-shadow: 0rem 1.4rem 1rem -0.6rem #000000;
  position: relative;
  z-index: 1;
}

.nav-container {
  width: auto;
  height: 100%;

  display: flex;
  justify-content: space-between;
  text-align: center;
}

.logo {
  padding-right: 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.logo img {
  width: 5rem;
  height: 5rem;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-right {
  font-size: 1.5rem;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.menu-right .menu-item a {
  margin-right: 2.5rem;
  color: var(--platinum);
}
/* ---------- */

/* Creando estilos globales */
main {
  width: 100%;
  /* height: auto; */
  background-color: var(--just-white);
}
/* ---------- */

/* Creando la seccion info general */
main .info-section {
  width: 100%;
  min-width: 36rem;

  height: auto;

  background-color: var(--rose-madder);
  text-align: center;
  padding-bottom: 0.5rem;
}

main .info-section h1 {
  padding-bottom: 0.5rem;

  margin: 0 auto;
  font-size: 4rem;
  line-height: 1.4;
  letter-spacing: -0.2rem;
  color: var(--rich-black);
}

main .info-section h1 strong {
  color: var(--just-white);
}

main .info-section .img-hero {
  display: inline-block;
  width: 165px;
  height: 165px;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
    0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
  border-radius: 5%;
}
/* ---------- */

/* Creando los estilos para la seccion portafolio */

main .portfolio-section {
  width: 100%;
  min-width: 36rem;
  /* max-width: 90rem; */
  background-color: var(--just-white);
  padding: 0.5rem;
}

main .portfolio-section .container {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

main .portfolio-section .container h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: bold;
}

main .portfolio-project .project-details {
  display: inherit;
}

.project-image {
  width: 100%;
  height: 100%;
  padding-left: 0.3rem;
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.project-image img {
  width: 280px;
  height: 220px;

  border-radius: 5px;
  margin: 0.5rem auto;
}

main .portfolio-section .portfolio-project {
  border: 1px solid var(--sunglow);
  margin-bottom: 1.5rem;
  padding: 1.2rem;
  background: var(--platinum);
  border-radius: 1rem;
}

main .portfolio-project .project-title {
  font-size: 2.4rem;
}

main .project-technology,
.project-date,
.project-live {
  margin: 0.6rem 0;
}

.project-live {
  cursor: pointer;
}

.project-technology {
  font-weight: 400;
  line-height: bold;
  font-size: 1.8rem;
}

.project-date {
  font-weight: 400;
  font-size: 1.6rem;
}

.project-live {
  font-style: italic;
  font-weight: 400;
  font-size: 1.4rem;
}

.project-description {
  font-weight: 400;
  font-size: 2rem;
}

/* Creando la seccion contacto */
main .contact-section {
  background-color: var(--just-white);
  width: 100%;
  margin: 0 auto;
  padding: 1.4rem;
}

main .form-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1.4rem;
}

.form-main h2 {
  font-size: 3rem;
  font-weight: bold;
  line-height: normal;
}

.form-main .input-form {
  width: 90%;
  margin: 4px auto;
  border-radius: 0.6rem;
  border: 1px solid var(--platinum);
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-form input {
  width: 19rem;
  height: 4.5rem;
  border: none;
  outline: none;
}

.input-form:hover {
  box-shadow: 0 0.1rem 0.6rem 0 var(--platinum);
  border-color: var(--sunglow);
}

.input-form .input-email-icon {
  background-image: url("https://www.iconpacks.net/icons/1/free-mail-icon-142-thumb.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 28px;
  height: 28px;
  margin-right: 1rem;
}

/* 

 */

/* Agregando estilos a la zona del boton */
.input-form .button-form {
  width: 90%;
  margin: 0 auto;
}

.button-form {
  display: flex;
  justify-content: center;
}

.button-form button {
  width: 14rem;
  height: 4rem;
  border: 0;

  margin-top: 1.2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.button-form button:hover {
  cursor: pointer;
  border: 1px solid var(--rich-black);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

/* .button-form button:hover {
  cursor: pointer;
  border: 1px solid var(--rich-black);
  
  color: var(var(--blue-crayola));
  background-color: var(--);
  background-image: -webkit-linear-gradient(
    top,
    var(--platinum),
    var(--blue-crayola)
  );
} */

/* Agregando Css a la seccion Más información  */
main .about-section {
  background-color: var(--rose-madder);
  width: 100%;
  height: auto;
}

.about-generalMe {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.about-generalMe h2 {
  color: var(--rich-black);
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3rem;
  font-weight: bold;
}

.about-generalMe .me-container {
  width: 100%;
  padding-top: 1.2rem;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.me-picture {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.me-picture img {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
    0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
}

.me-title {
  color: var(--rich-black);
  font-size: 2rem;
  padding: 0.3rem 0;
}

.me-datas {
  color: var(--rich-black);
  width: 90%;
  height: auto;

  margin: 0 auto;
}

.me-info {
  color: var(--rich-black);
  font-weight: 400;
  font-size: 1.8rem;
  text-align: start;
}

.about-socialMedia {
  width: 30rem;
  height: auto;
  margin: 0 auto;
  padding: 0.5rem 0;
}

.social-media {
  list-style: none;
  display: flex;
}

.media-item {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.twitter-icon {
  width: 60px;
  height: 60px;

  background-image: url("https://i.pinimg.com/originals/5f/d0/53/5fd0537ef0cbf9efd48c975209f74a8c.png");
  background-position: center;
  background-size: contain;
}

.linkedin-icon {
  width: 60px;
  height: 60px;

  background-image: url("https://icons-for-free.com/iconfiles/png/512/black+line+linkedin+social+icon-1320191608689709544.png");
  background-position: center;
  background-size: contain;
}

.facebook-icon {
  width: 60px;
  height: 60px;

  background-image: url("https://img.icons8.com/ios/452/facebook-new.png");
  background-position: center;
  background-size: contain;
}

/* Media queries  */
/* @media (max-width: 768px) {
  .project-image {
    width: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
  }
} */

@media (min-width: 800px) {
  .portfolio-project {
    display: flex;
  }
  .project-details {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
  }

  .project-image img {
    width: 100%;
    height: 220px;
  }

  .project-image {
    width: 40%;
    display: flex;
  }
}
